.footer-bg {
    background: linear-gradient(180deg, #08c2da 0%, #046974 90%);
    background-image: linear-gradient(180deg, #808ca8, #585c7a);
}

.counter-bg {
    background-image: linear-gradient(180deg, rgb(173, 178, 191), rgb(145, 150, 158));

}

.footer-text {
    max-width: 200px;
    text-align: justify;
}

#footer-email {
    background-color: transparent;
    border: 2px solid rgb(173, 178, 191);
    padding: 2px;
    max-width: max-content;
}

#footer-submit {
    background: linear-gradient(180deg, rgb(173, 178, 191), rgb(145, 150, 158));
    border: 2px solid rgb(173, 178, 191);

    padding: 2px;
}

#footer-submit:hover {
    background-color: #4f6e72;
    border: 2px solid rgb(173, 178, 191);

    font-weight: 500;
    padding: 2px;
}

@media (max-width: 475px) {
    #footer-email {

        border: 2px solid #2be6ff;
        padding: 2px;
        max-width: 50px;
    }
}

@media (min-width: 476px) and (max-width: 1024px) {
    #footer-email {
        max-width: 120px;
    }
}

@media (min-width: 1024px) {
    #footer-email {
        max-width: max-content;
    }
}